:root {
    /* Palette Miele Gervasini & HoneyArt */
    --colore-primario: #C19F29;       /* Oro Ricco */
    --colore-secondario: #5B4200;     /* Marrone Scuro */
    --colore-sfondo-chiaro: #FDFDF5;  /* Bianco Sporco Caldo */
    --colore-testo-scuro: #333333;
    --colore-testo-chiaro: #FFFFFF;
    
    /* Stati Funzionali */
    --colore-successo: #DAA520;       /* Gold generico */
    --colore-successo-verde: #28a745; /* Verde Invio Ordine */
    --colore-spese: #dc3545;          /* Rosso Spese */
    --colore-hover: #DAA520;          
}